

<include file="Common/header" />
<!-- <include file="./Public/conn/header.html" />   -->
        <div id="page-wrapper">
        <div class="graphs">
     	
    
	  
    <div class="content_bottom">
		<if condition="$manager eq 2"><h3><a href="__ROOT__/index.php/Admin/Index/useradd">添加管理员</a></h3></if>
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
		    <table class="table">
		      <thead>
		        <tr>
		          <th>编号</th>
		          <th>用户名</th>
					<th>角色</th>
					<th>注册时间</th>
					<th>操作</th>
		        </tr>
		      </thead>
		      <tbody>
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="re" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		        
		          <th scope="row">{$v.id}</th>
		          <td>{$v.name}</td>
				  <td><if condition="$v.manager eq 2"> 超级管理员<elseif condition="$v.manager eq 1"/>管理员 </if></td>
				  <td>{$v.addtime}</td>
		          <td><if condition="$manager eq 2"><a href="__ROOT__/index.php/Admin/Index/userpwd/id/{$v.id}">修 改</a> | <a href="javascript:if(confirm('确认删除吗?'))window.location='__ROOT__/index.php/Admin/Index/userdelete/id/{$v.id}'">删 除</a><elseif condition="$manager eq 1"/>暂无权限操作</if></td>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>
		        
		        
		      </tbody>
		    </table>
		   </div>
	   </div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016 All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/Admin/js/bootstrap.min.js"></script>
</body>
</html>
