<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>我的资产</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/swiper.min.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">我的资产</h1>
	</header>
	<div class="mui-content">
		<ul class="eable_money">
			<li>当前可用余额</li>
			<li>{$username.chargebag}元</li>
		</ul>
		<ul class="bottom_ul">
			<li class="bottom_li">
				<ul>
					<li>智能充余额(元)</li>
					<li>{$username.jingbag}元</li>
				</ul>
			</li>
			<li class="bottom_li">
				<ul>
					<li>冻结资产(元)</li>
					<li>{$username.djbag}</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="grade">
		当前级别：<span><if condition="$username.type eq 1"> 普通vip<elseif condition="$username.type eq 2"/>高级vip<elseif condition="$username.type eq 3"/>豪华vip<elseif condition="$username.type eq 4"/>至尊vip<elseif condition="$username.type eq 0"/>普通会员 </if> </span>
	</div>
	<ul class="money_ul">
		<li class="money_title">累计收入</li>
		<li class="money">{$incomes}元</li>
		<li class="money_tip">智能充收入金额：{$incomes}元</li>
	</ul>
	<ul class="money_ul">
		<li class="money_title">总资产</li>
		<li class="money">{$alls}元</li>
		<li class="money_tip">智能充可用金额：{$username.jingbag}元</li>
		<li class="money_tip">智能充冻结金额：{$username.djbag}元</li>
	</ul>
    <ul class="revolution">
		<li><a href="/index.php/Home/Index/assetsout">转出</a></li>
    	<li><a href="/index.php/Home/Index/assetsin">转入</a></li>
    </ul>

</body>
</html>