


<include file="Common/header" />
           
        
        <div id="page-wrapper">
        <div class="graphs">	  
    <div class="content_bottom">
     <div class="col-md-12 span_3">
		  <div class="bs-example1" data-example-id="contextual-table">
			  <h3>用户列表</h3>
			  <form class="form-horizontal" action="" method="get" enctype="multipart/form-data">
				  <div class="form-group">
					  <label for="focusedinput" class="col-sm-2 control-label">用户电话</label>
					  <div class="col-sm-8">
						  <input type="text" name="name" value="" class="form-control1" id="focusedinput" placeholder="">
						  <p style="margin-left: 200px;margin-top: 20px;"></p><button class="btn-success btn">Submit</button>
					   </div>
					  <div class="col-sm-2">
						  <p class="help-block"></p>
					  </div>
				  </div>

			  </form>
		    <table class="table">
		      <thead>

		        <tr style="text-align: center;">

		        </tr>
		        <tr>
		          <th>用户id</th>
					<th>注册上家id</th>
					<th>姓名</th>
					<th>电话</th>
		          <th>股份</th>

				  <th>积分</th>
		          <th>注册时间</th>
					<th>操作</th>
		        </tr>
		      </thead>
		      <tbody>	      
		      <?php 
		      		$i = 1;
		      	?>
		      <foreach name="users" item='v'>
		      
		      	<?php 
		      		if(($i%2)==1){
						echo "<tr class='active'>";
					}else{
						echo "<tr class='info'>";
					}
		      	?>
		          <th scope="row">{$v.uid}</th>
				  <th>{$v.fuid}</th>
				  <th>{$v.name}</th>
				  <th>{$v.tel}</th>
		           <th>{$v.dongbag}</th>
				  <th>{$v.chargebag}</th>
				  <td>{$v.addymd}</td>
				  <th><a href="__ROOT__/index.php/Admin/Menber/editeUser/id/{$v.uid}">修 改 </a></th>
		        </tr>
		      	<?php $i++ ;?>
		       </foreach>		      
		      </tbody>
		    </table>
		   </div>
	   </div>
		<div class="clearfix"> </div>
	    </div>
		<div class="copy">
            <p>Copyright &copy; 2016  All rights reserved.</p>
	    </div>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
</body>
</html>
