<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>账单</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <h1 class="mui-title">账单</h1>
	</header>
	<div class="mui-content">
	    <table class="my_group_table">
	    	<tr>
	    		<th>事件</th>
	    		<th>金额</th>
	    		<th>时间</th>
	    	</tr>
	    	<tr>
	    		<td>充值</td>
	    		<td>+2000</td>
	    		<td>12-12 12:00:00</td>
	    	</tr>
	    	<tr>
	    		<td>提现</td>
	    		<td>-2000</td>
	    		<td>12-12 12:00:00</td>
	    	</tr>
	    </table>
	</div>
	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item" data-href="index.html">
			<span class="mui-icon"><img src="__ROOT__/Public/Home/img/7.png" alt=""></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item mui-active" data-href="funds.html">
			<span class="mui-icon" style="width: 20px;"><img src="__ROOT__/Public/Home/img/81.png" alt=""></span>
			<span class="mui-tab-label">账单</span>
		</a>
		<a class="mui-tab-item" data-href="recharge1.html">
			<span class="mui-icon"><img src="__ROOT__/Public/Home/img/91.png" alt=""></span>
			<span class="mui-tab-label">充值</span>
		</a>
		<a class="mui-tab-item" data-href="my.html">
			<span class="mui-icon"><img src="__ROOT__/Public/Home/img/10.png" alt=""></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav>
</body>
</html>