<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>修改登录密码</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/swiper.min.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/aui.js"></script>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/swiper.min.js"></script>
</head>
<body>
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back"></a>
	  <h1 class="mui-title">修改登录密码</h1>
	</header>
	<div class="mui-content">
	    <form class="mui-input-group" action="" method="post">
		    <div class="mui-input-row">
		        <label>当前密码</label>
		        <input type="password" name="pwd" class="mui-input-password" placeholder="当前登录密码" id="pwd">
		    </div>
		    <div class="mui-input-row">
		        <label>登录密码</label>
		        <input type="password" name="pwd2" class="mui-input-password" placeholder="请输入新登录密码" id="pwd1">
		    </div>
		    <div class="mui-input-row">
		        <label>确认密码</label>
		        <input type="password" name="pwd22" class="mui-input-password" placeholder="请确认新登录密码" id="pwd2">
		    </div>
			<button class="mui-btn mui-btn-block" id="submit">确认</button>
		</form>
	</div>
</body>
</html>