<!DOCTYPE HTML>
<html>
<head>
	<include file="Common/header" />
	<div id="page-wrapper">
		<div class="graphs">
			<div class="xs">
				<h3>配置</h3>
				<div class="tab-content">
					<div class="tab-pane active" id="horizontal-form">
						<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[0]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="jiage" value="{$res[0]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[1]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="jintai" value="{$res[1]['value']}"  class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->
							<!-- 推荐奖 -->
							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">角色</label>-->
								<!--<div class="col-sm-8">-->
									<!--<select class="form-control1" name="manager">-->
										<!--<option value="2">超级管理员</option>-->
										<!--<option value="1">管理员</option>-->
									<!--</select>-->
								<!--</div>-->
							<!--</div>-->


							<div class="form-group">
								<label for="focusedinput" class="col-sm-2 control-label">{$res[2]['name']}</label>
								<div class="col-sm-8">
									<select class="form-control1" name="tuijian1">
										<option value="{$res[2]['value']}"><if condition="$res[2]['value'] eq 2"> 资产已解冻<elseif condition="$res[2]['value'] eq 1"/>资产冻结 </if></option>
										<option value="2">资产已解冻</option>
										<option value="1">资产冻结</option>
									</select>

									<!--<input type="text" name="tuijian1" value="{$res[2]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								</div>
								<div class="col-sm-2">
									<p class="help-block"></p>
								</div>
							</div>

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[3]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tuijian2" value="{$res[3]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[4]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tuijian3" value="{$res[4]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[5]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tuijian4" value="{$res[5]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[6]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tuijian5" value="{$res[6]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[7]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tuijian6" value="{$res[7]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->
                        <!--推荐 6-->

					<!--回馈奖 6-->
							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[8]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui1" value="{$res[8]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[9]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui2" value="{$res[9]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[10]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui3" value="{$res[10]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[11]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui4" value="{$res[11]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[12]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui5" value="{$res[12]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
							<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[13]['name']}</label>-->
							<!--<div class="col-sm-8">-->
								<!--<input type="text" name="huikui6" value="{$res[13]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
							<!--</div>-->
							<!--<div class="col-sm-2">-->
								<!--<p class="help-block"></p>-->
							<!--</div>-->
						   <!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[14]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tixiannum" value="{$res[14]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[15]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="tixiantime" value="{$res[15]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[16]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="gongpai" value="{$res[16]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[17]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="jintaifei" value="{$res[17]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[18]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="dongtaifei" value="{$res[18]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="form-group">-->
								<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[13]['name']}</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input type="text" name="huikui6" value="{$res[13]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
								<!--</div>-->
								<!--<div class="col-sm-2">-->
									<!--<p class="help-block"></p>-->
								<!--</div>-->
							<!--</div>-->
					<!--回馈奖 6-->
							<!--<div class="form-group">-->
							<!--<label for="focusedinput" class="col-sm-2 control-label">{$res[12]['name']}</label>-->
							<!--<div class="col-sm-8">-->
							<!--<input type="text" name="huikui5" value="{$res[12]['value']}" class="form-control1" id="focusedinput" placeholder="">-->
							<!--</div>-->
							<!--<div class="col-sm-2">-->
							<!--<p class="help-block"></p>-->
							<!--</div>-->
							<!--</div>-->

							<div class="panel-footer">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<button class="btn-success btn">Submit</button>
									</div>
								</div>
							</div>


						</form>
					</div>
				</div>



			</div>
			<div class="copy_layout">
				<p>Copyright &copy; 2016 name All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	<!-- Nav CSS -->
	<link href="__ROOT__/Public/admin/css/custom.css" rel="stylesheet">
	<!-- Metis Menu Plugin JavaScript -->
	<script src="__ROOT__/Public/admin/js/metisMenu.min.js"></script>
	<script src="__ROOT__/Public/admin/js/custom.js"></script>
	<script src="__ROOT__/Public/admin/js/bootstrap.min.js"></script>
	</body>
</html>
