
<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item  mui-active" data-href="/index.php/Home/Index/index.html">
        <span class="mui-icon"><img src="__ROOT__/Public/Home/img/7.png" alt=""></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" data-href="/index.php/Home/User/funds.html">
        <span class="mui-icon" style="width: 20px;"><img src="__ROOT__/Public/Home/img/81.png" alt=""></span>
        <span class="mui-tab-label">账单</span>
    </a>
    <a class="mui-tab-item" data-href="/index.php/Home/User/recharge.html">
        <span class="mui-icon"><img src="__ROOT__/Public/Home/img/91.png" alt=""></span>
        <span class="mui-tab-label">充值</span>
    </a>
    <a class="mui-tab-item" data-href="/index.php/Home/User/my.html">
        <span class="mui-icon"><img src="__ROOT__/Public/Home/img/10.png" alt=""></span>
        <span class="mui-tab-label">我的</span>
    </a>
</nav>