<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item" data-href="__ROOT__/index.php/Home/Index/index.html">
        <span class="mui-icon <if condition="$function eq 1">mui-active</if>"><img src="__ROOT__/Public/Home/images/7.png" alt=""></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item <if condition="$function eq 2">mui-active</if> " data-href="__ROOT__/index.php/Home/Index/financial.html">
        <span class="mui-icon" style="width: 20px;"><img src="__ROOT__/Public/Home/images/81.png" alt=""></span>
        <span class="mui-tab-label">我的产品</span>
    </a>
    <a class="mui-tab-item <if condition="$function eq 3">mui-active</if>" data-href="__ROOT__/index.php/Home/Product/product.html">
        <span class="mui-icon"><img src="__ROOT__/Public/Home/images/91.png" alt=""></span>
        <span class="mui-tab-label">汇福源黄金理财</span>
    </a>
    <a class="mui-tab-item <if condition="$function eq 4">mui-active</if>" data-href="__ROOT__/index.php/Home/User/user.html">
        <span class="mui-icon"><img src="__ROOT__/Public/Home/images/10.png" alt=""></span>
        <span class="mui-tab-label">个人中心</span>
    </a>
</nav>