<div class="container noPadding">
    <nav class="navbar navbar-default mynavbar">
        <div class="container-fluid">
            <!--按钮-->
            <div class="navbar-header">
                <img src="__ROOT__/Public/Home/images/logo.gif" alt="" class="logoImg">
                <span class="userInfo">{$username.name}：{$username.tel}</span>
                <button type="button" class="navbar-toggle collapsed btn-sider" data-toggle="collapse" data-target="#side-menu" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- 导航条内容 -->
            <div class="collapse navbar-collapse" id="side-menu">
                <ul class="nav navbar-nav grid" id="side-item">

                    <li>
                        <a href="__ROOT__/index.php/Home/Index/introduce.html">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_10.jpg" alt="" class="iconImg"></div>
                            <div class="gridText">公司简介</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/types/type/2">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_20.png" alt="" class="iconImg"></div>
                            <div class="gridText">公司公告</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/K.html">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_1.png" alt="" class="iconImg"></div>
                            <div class="gridText">同步k线图</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/types/type/3">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_17.jpg" alt="" class="iconImg"></div>
                            <div class="gridText">值班团队</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/types/type/4">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_5.png" alt="" class="iconImg"></div>
                            <div class="gridText">分析专家</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/User/my.html">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_7.png" alt="" class="iconImg"></div>
                            <div class="gridText">个人中心</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/gongpai.html">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_9.png" alt="" class="iconImg"></div>
                            <div class="gridText">MIF公排</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Index/share/id/{$username.uid}">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_6.png" alt="" class="iconImg"></div>
                            <div class="gridText">MIF分享</div>
                        </a>
                    </li>
                    <li>
                        <a href="__ROOT__/index.php/Home/Login/login">
                            <div class="iconImgDiv"><img src="__ROOT__/Public/Home/images/mif/p_15.png" alt="" class="iconImg"></div>
                            <div class="gridText">退出登录</div>
                        </a>
                    </li>
                    <!--<li><a href="__ROOT__/index.php/Home/Index/index.html">网站首页</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/introduce.html">公司简介</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/advertising.html">公司公告</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/K.html">同步k线图</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/gruop.html">值班团队</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/professor.html">分析专家</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/User/my.html">个人中心</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/gongpai.html">MIF公排</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Index/share/id/{$username.uid}">MIF分享</a></li>-->
                    <!--<li><a href="__ROOT__/index.php/Home/Login/login">退出系统</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</div>